<div class="ind">
    <form action="/gallery/{{id}}" method="POST">
        <div class="formdiv">
            <h1>Editing Post {{id}}</h1>
            <input type="text" name="link" id="link" placeholder="link">
            <input type="text" name="author" id="author" placeholder="author">
            <input type="text" name="description" id="description" placeholder="description"> <button>Finished
                Editing</button>
    </form>
    <form action="/gallery/{{id}}/delete" method="get">
        <button type="submit">Delete Post</button>
    </form>
    <form action="/gallery" method="GET">
        <button>Go Back to Gallery</button>
    </form>
</div>
<img src={{link}} id="edit">

</div>