<img src="https://i.imgur.com/eKP1aD1.png" class="imgheader">
<div class="header">
    <h1 class="title">GAAAHLLERY</h1>
    <p class="subtitle">gallery of celebrities eating things<br />
        <a href="/gallery/new">ADD POST</a> &middot; <a href="/auth/login">LOGIN</a> &middot; <form
            action="/auth/logout" method="GET"><button>LOGOUT</button></form>
</div>
<div class="imgcontainer">
    {{#each arr}}
    <div class="post">
        <a href='/gallery/{{id}}'><img src={{link}} class="postimg"></a>
        <p>Author: {{author}}</p>
    </div>
    {{!-- <p>{{description}}</p> --}}
    {{/each}}
</div>