<!DOCTYPE html>
<html lang="en">

<head>
    <link type="text/css" rel="stylesheet" href="/css/styles.css">
</head>
<div class="header">
    <h1 id="title">GAAAHLLERY</h1>
    <p class="subtitle">gallery of celebrities eating things</p>
</div>
<div class="imgcontainer">
    {{#each arr}}
    <div class=" post">
        <img src={{link}}>
        <p>Author: {{author}}</p>
        <hr>
    </div>
    {{!-- <p>{{description}}</p> --}}
    {{/each}}
</div>

</html>
