<h1 id="editHead">Add Image</h1>
<form action="/gallery" method="POST">
    <div>
        <label for="link">Link</label>
        <input type="url" name="link" id="link">
    </div>
    <div>
        <label for="author">Author</label>
        <input type="text" name="author" id="author">
    </div>
    <div>
        <label for="description">Description</label>
        <input type="text" name="description" id="description">
    </div>
    <div>
        <button>Upload</button>
    </div>
</form>